#our-tour-packages {
    background-image: url("../img/our-tour-packages-bg-overlay.webp");
    background-size: contain;
    background-color: black;
    padding: 120px 0;
    position: relative;
    text-align: center;
    color: white;
}

#container-packages {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
}

.package {
    text-align: left;
    height: 300px;
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    padding: 15px;
    color: black;
    background-color: white;
    background-image: url("../img/gangbal-lakes-8.webp");
    background-size: cover;
    background-position: center;
    animation: expand-y 500ms ease-in-out;
    overflow: hidden;
}

.package-all-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transform: scaleY(2);
    transition: all 250ms linear;
}

.package:hover * {
    transform: scaleY(1);
}

.package-discount {
    cursor: pointer;
    width: fit-content;
    color: var(--primary-color);
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

.package-about-price {
    display: flex;
    justify-content: space-between;
}

.package-about {
    color: var(--secondary-color);
}

.package-price {
    color: var(--primary-color);
}

#view-all {
    background-color: var(--secondary-color);
}

@keyframes expand-y {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
