#our-popular-tours {
    background-image: url("../img/plane-route-location.webp");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
    padding: 120px 0;
    position: relative;
    text-align: center;
    overflow-x: hidden;
}

.tour-name {
    padding: 0 15px;
}

.tour:hover .tour-name {
    border-left: 2px solid var(--primary-color);
}

#slides {
    display: flex;
    position: relative;
    transition: all 500ms ease-in-out;
    width: fit-content;
    margin: 50px auto;
}

.tour {
    text-align: left;
    height: 300px;
    width: 300px;
    margin: 10px;
    padding: 15px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/srinager-kashmir-9.webp");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -235px;
    position: absolute;
    padding: 15px;
    box-sizing: border-box;
}

.ball {
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: gray;
    box-shadow: 0 0 15px 25px white;
}

#one {
    float: left;
}

#one {
    float: right;
}
