/* Navbar */
header {
    position: relative;
    animation: slide-in-top-to-bottom 500ms ease-in-out;
}

@keyframes slide-in-top-to-bottom {
    from {
        top: -125px;
    }
    to {
        top: 0;
    }
}

nav {
    margin: 2em 6em;
    padding: 5px 15px;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li:first-child a {
    color: var(--primary-color);
}

ul li {
    margin: 0 15px;
    list-style: none;
    text-align: center
}

ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    font-weight: 900;
}

#contact-us {
    background-color: var(--secondary-color);
}

#nav-toggle {
    margin: 15px;
}

@media (max-width: 1275px) {
    nav {
        flex-direction: column;
    }
}

@media (min-width: 1115px) {
    #nav-toggle {
        display: none;
    }
}

@media (max-width: 1115px) {
    #header-nav ul {
        display: none;
    }

    #nav-toggle {
        display: block;
    }
}

/* Welcome */
#welcome {
    margin: 6em 2em;
    text-align: center;
}

#welcome::before {
    content: "";
    width: 100%;
    padding: 500px 0;
    background-image: url("../img/welcome-bg.webp");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

#black-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
}

/* Search box */
#search-box {
    display: flex;
    align-items:center ;
    justify-content: space-between;
    margin: 1em 5em;
    padding: 25px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

@media (max-width: 1100px) {
    #search-box {
        display: none;
    }
}

.dropdown {
    min-width: 150px;
    margin: 5px;
    width: 10em;
    font-family: var(--paragraph-font);
    color: white;
    fill: var(--primary-color);
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown:hover {
    cursor: pointer;
}

.drop-div-1 {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown ul {
    width: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    position: absolute;
    transition: all 100ms linear;
    transform-origin: top;
    transform: scaleY(0);
}

.dropdown:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown ul li {
    cursor: default;
    color: white;
    padding: 15px;
    margin: 0;
}

.dropdown ul li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#search-now {
    background-color: var(--primary-color);
}
